* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: grid;
   place-items: center;
   height: 100vh;
   overflow: hidden;
   background-color: #222;
}

.grid {
   display: grid;
   padding: 1em;
   width: 100%;
   max-width: 60rem;
   gap: 1rem;

   &__items {
      display: flex;
      background-color: rgb(58, 57, 57);
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 1.5rem;
      border-radius: 0.3em;
   }
}

section {
   max-width: 900px;
   width: 90%;
   margin: 0 auto;
   p {
      font-size: 14px;
      line-height: 24px;
      color: #fff;
   }
}

.firstcharacter {
   font-weight: 400;
   float: left;
   font-size: 84px;
   line-height: 64px;
   padding-top: 4px;
   padding-right: 8px;
   padding-left: 3px;
   font-family: "Source Sans Pro", sans-serif;
}

.bg {
   color: tomato;
}

@media screen and(min-width: 400px) {
   .grid {
      grid-template-columns: repeat(2, 1fr);
      &__items {
         height: 120px;
      }
   }
}

@media screen and(min-width: 768px) {
   .grid {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 120px);

      &__items {
         height: auto;

         &:nth-child(2) {
            grid-column: 2 / 4;
         }
         &:nth-child(3) {
            grid-column: 4 / 5;
            grid-row: 1 / 4;
         }

         &:nth-child(4) {
            grid-column: 1/ 2;
            grid-row: 2 / 4;
         }

         &:nth-child(6) {
            grid-column: 3 / 4;
            grid-row: 2 / 4;
         }
      }
   }
}
